extends layout

block content
  h1= title
  p List of all messages 📨
  img(src="https://media.giphy.com/media/UJS4fUKBaTc8o/giphy.gif", alt="harry potter")

  ul
    each message in messages
      li= message

